# Pacotes

In [1]:
# Tratativas
import numpy as np
import pandas as pd 

# Machine Leaning
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC, SVC
from sklearn.metrics import accuracy_score
from sklearn.dummy import DummyClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_validate, KFold, StratifiedKFold, GroupKFold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

# Warnings
import warnings
warnings.filterwarnings("ignore")

---
# Objetivo

O motivo dessa análise é mostrar alguns dos diversos modos de fazer a validação de um modelo. Iremos primeiro verificar qual seria nossa acurácia utilizando um **Dummy Classifier**. Depois veremos se utilizássemos o algoritmo **DecisionTreeClassifier**, qual seria nosso resultado. Entretanto, a separação de nossos dados são influenciados por um **'SEED'**. Veremos alguns métodos para não cairmos desse problema.

---
# Índice

* Lendo o Arquivo CSV
* Separando os Dados
* Funções
* Modelos
* Dummy Classifier
* Decision Tree Classifier
* Aleatoriedade no Cross Validate
* Situação Horrível de Azar
* StratifiedKFold
* Gerando o Modelo do Carro para Simulação de Agrupamento
* GroupKFold
* Cross Validation com Standard Scaler
---

---
# Features

* **preco** -> valor do carro
* **vendido** -> (foi vendido = 1 , não foi vendido = 0)
* **idade_do_modelo** -> quantos anos o carro tem
* **km_por_ano** -> km média por ano

---
# Lendo o Arquivo CSV

CSV feito com valores randomicos.

In [2]:
dados = pd.read_csv('../DADOS/dados_carros.csv', index_col=0)
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               18  35085.22134
1   40557.96        1               20  12622.05362
2   89627.50        0               12  11440.79806
3   95276.14        0                3  43167.32682
4  117384.68        1                4  12770.11290

In [3]:
dados.isnull().sum()

preco              0
vendido            0
idade_do_modelo    0
km_por_ano         0
dtype: int64

# Separando os Dados


Iremos separar os dados em **75% para treino e 25% para teste**.

In [4]:
x = dados[["preco", "idade_do_modelo","km_por_ano"]]
y = dados["vendido"]

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 7500 elementos e testaremos com 2500 elementos

# Funções

In [5]:
def imprime_resultados(results):
    media = results['test_score'].mean()
    desvio_padrao = results['test_score'].std()
    print("Accuracy médio: %.2f" % (media * 100))
    print("Accuracy intervalo: [%.2f, %.2f]" % ((media - 2 * desvio_padrao)*100, (media + 2 * desvio_padrao) * 100))

# Modelos

## Dummy Classifier

Usaremos o **dummy classifier** para ter uma accuracy de baseline.

In [6]:
dummy_stratified = DummyClassifier()
dummy_stratified.fit(treino_x, treino_y)
acuracia = dummy_stratified.score(teste_x, teste_y) * 100

print("A acurácia do dummy stratified foi %.2f%%" % acuracia)

A acurácia do dummy stratified foi 52.04%

## Decision Tree Classifier

Usaremos o algoritmos DecisionTreeClassifier para comparar com o nosso baseline, e ver se vale a pena usar um algoritmo. Entretanto, a criação do modelo não pode depender de uma aleatoriedade como o **SEED**, pois dependendo do valor escolhido, nosso resultado final será influenciado.

In [7]:
SEEDs = [5, 4315, 158020]

for seed in SEEDs:
    np.random.seed(seed)
    treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25,
                                                             stratify = y)
    print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

    modelo = DecisionTreeClassifier(max_depth=2)
    modelo.fit(treino_x, treino_y)
    previsoes = modelo.predict(teste_x)

    acuracia = accuracy_score(teste_y, previsoes) * 100
    print("A acurácia foi %.2f%%" % acuracia)
    print("\n")

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 76.84%


Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 74.84%


Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 71.92%

## Cross Validate

Para isso, utilizaremos o cross validate, que irá dividir nossos dados em X partes. Nesse caso, ele será dividido em 5 partes. Estatisticamente, 95% dos valores devem estar entre a média +- 2 desvio-padrao e teremos então nosso intervalo de accuracy.

In [8]:
SEED = 301
np.random.seed(SEED)

modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x, y, cv = 5, return_train_score=False)
media = results['test_score'].mean()
desvio_padrao = results['test_score'].std()
print("Accuracy com cross validation, 3 = [%.2f, %.2f]" % ((media - 2 * desvio_padrao)*100, (media + 2 * desvio_padrao) * 100))

Accuracy com cross validation, 3 = [75.21, 76.35]

**Podemos notas que nosso resultado não é mais influênciado pelo SEED**.

In [9]:
SEEDs = [5, 301, 4315, 158020]

for seed in SEEDs:
    np.random.seed(seed)

    modelo = DecisionTreeClassifier(max_depth=2)
    results = cross_validate(modelo, x, y, cv = 5, return_train_score=False)
    media = results['test_score'].mean()
    desvio_padrao = results['test_score'].std()
    print(f"SEED: {seed} - Accuracy com cross validation, 10 = [%.2f, %.2f]" % ((media - 2 * desvio_padrao)*100, (media + 2 * desvio_padrao) * 100))

SEED: 5 - Accuracy com cross validation, 10 = [75.21, 76.35]
SEED: 301 - Accuracy com cross validation, 10 = [75.21, 76.35]
SEED: 4315 - Accuracy com cross validation, 10 = [75.21, 76.35]
SEED: 158020 - Accuracy com cross validation, 10 = [75.21, 76.35]

## Aleatoriedade no Cross Validate

Usaremos o **KFold** que é um gerador de validação cruzada, que irá quebrar os dados em 10 partes, e o shuffle = True irá embaralhar os dados.

In [10]:
SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits = 10, shuffle = True)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x, y, cv = cv, return_train_score=False)
imprime_resultados(results)

Accuracy médio: 75.76
Accuracy intervalo: [73.26, 78.26]

## Situação Horrível de Azar

Pode ser **"azar"** uma proporção de exemplos desbalanceado entre as classes.

Iremos ordenar a coluna vendido de forma crescente.

In [11]:
dados_azar = dados.sort_values("vendido", ascending=True)
x_azar = dados_azar[["preco", "idade_do_modelo","km_por_ano"]]
y_azar = dados_azar["vendido"]
dados_azar.head()

         preco  vendido  idade_do_modelo   km_por_ano
4999  74023.29        0               12  24812.80412
5322  84843.49        0               13  23095.63834
5319  83100.27        0               19  36240.72746
5316  87932.13        0               16  32249.56426
5315  77937.01        0               15  28414.50704

**Primeiro iremos analisar como seria a nossa accuracy se não utilizarmos o shuffle = True**.

In [12]:
SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits = 10)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x_azar, y_azar, cv = cv, return_train_score=False)
imprime_resultados(results)

Accuracy médio: 57.84
Accuracy intervalo: [34.29, 81.39]

**Agora iremos passar o shuffle**.

In [13]:
SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits = 10, shuffle=True)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x_azar, y_azar, cv = cv, return_train_score=False)
imprime_resultados(results)

Accuracy médio: 75.78
Accuracy intervalo: [72.30, 79.26]

## StratifiedKFold

Mas ainda sim nossos dados ainda podem ser separados de forma desbalanceada. Para isso podemos utilizar o **StratifiedKFold**, que preserva o percentual de amostras de cada classe.

In [14]:
SEED = 301
np.random.seed(SEED)

cv = StratifiedKFold(n_splits = 10, shuffle=True)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x_azar, y_azar, cv = cv, return_train_score=False)
imprime_resultados(results)

Accuracy médio: 75.78
Accuracy intervalo: [73.55, 78.01]

## Gerando o Modelo do Carro para Simulação de Agrupamento

Iremos criar uma coluna com o modelo do carro, utilizando valores aleatorios entre -2 e 2 somando com a idade do carro.

In [15]:
np.random.seed(SEED)
dados['modelo'] = dados.idade_do_modelo + np.random.randint(-2, 3, size=dados.shape[0])
dados.modelo = dados.modelo + abs(dados.modelo.min()) + 1
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano  modelo
0   30941.02        1               18  35085.22134      18
1   40557.96        1               20  12622.05362      24
2   89627.50        0               12  11440.79806      14
3   95276.14        0                3  43167.32682       6
4  117384.68        1                4  12770.11290       5

In [16]:
dados.modelo.unique()

array([18, 24, 14,  6,  5, 13, 20, 19, 15,  2, 17, 12, 11, 16,  3,  7, 21,
       23, 10,  9, 22,  8,  4,  1])

In [17]:
dados.modelo.value_counts()

20    901
19    798
18    771
21    723
17    709
16    668
14    621
22    575
15    573
13    557
12    511
11    401
10    371
23    370
9     336
8     278
7     206
24    199
6     181
5     108
4      76
3      44
2      17
1       6
Name: modelo, dtype: int64

## GroupKFold

Mas o StratifiedKFold estará ignorando os grupos, então teremos os mesmos modelos de carro tanto para o teste quanto para o treino, então nosso modelo pode acabar ficando **'viciado'**. Para isso usaremos o **GroupKFold**, que irá quebrar os dados em X partes, e fazer o agrupamento de acordo com o modelo do carro.

In [18]:
SEED = 301
np.random.seed(SEED)

cv = GroupKFold(n_splits = 10)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x_azar, y_azar, cv = cv, groups = dados.modelo, return_train_score=False)
imprime_resultados(results)

Accuracy médio: 75.78
Accuracy intervalo: [73.67, 77.90]

## Cross Validation com StandardScaler

A árvore de decisão não precisa ter as features escaladas, mas alguns algoritmos como o SVC são influênciaveis e para isso devem ser reescalonados.

Para isso usaremos um **pipeline**, que irá criar uma sequencia de ações. Nesse caso, cada vez que o cross validate quebrar os dados, eles serão normalizados e depois estimados pelo modelo.

In [19]:
SEED = 301
np.random.seed(SEED)

scaler = StandardScaler()
modelo = SVC()

pipeline = Pipeline([('transformacao',scaler), ('estimador',modelo)])

cv = GroupKFold(n_splits = 10)
results = cross_validate(pipeline, x_azar, y_azar, cv = cv, groups = dados.modelo, return_train_score=False)
imprime_resultados(results)

Accuracy médio: 76.68
Accuracy intervalo: [74.28, 79.08]

---
# Conclusão

Conclui-se então que, antes se selecionar um modelo, devemos ver se é necessário fazer o reescalonamento dos dados ou não. Ao separar nossos dados em **TREINO/TESTE**, temos que separá-los em X partes, afim de não 'VICIAR' nosso modelo e podemos fazer isso usando o **KFold/StratifiedKFold/GroupKFold** conforme a necessidade. Após repartir os dados, usamos o **Cross Validate** para obter uma faixa de acurácia com a média dos valores +- dois desvio padrão. 

**Estatisticamente, 95% dos valores encontram-se a uma distância da média inferior a duas vezes o desvio padrão.**

---